@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{margin: 0; padding: 0;box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif;
  color: #575757; box-sizing: border-box;
}
ul,li{list-style: none;}
a{text-decoration: none;color: #575757;}
select,option{
  font-family: 'Noto Sans KR', sans-serif;
  color: #575757;
}
html{
  overflow-x:hidden;
}
/* header */
header{
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  padding: 0 50px;
  position: absolute;
  left: 0%;
}
header .logo{
  width: 125px;
}
header .logo a{
  display: block;
  width: 123px;height:26px;
  background: url(../image/icon/logo_white.png)no-repeat;
  background-size: cover;
}
.right_menu{
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right_menu .lang{
  width: 22px;
  height: 22px;
  background-image:url(../image/icon/eng.png);
  background-size: cover;
}
.right_menu .menu{
  position: relative;
  width: 30px;
  height: 15px;
}
.right_menu .menu span{
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.right_menu .menu span:first-child{
  top: 0;
}
.right_menu .menu span:last-child{
  top: 100%;
}
.logo.on a{
  background: url(../image/icon/logo.png);
  display: block;
  width: 126px;height:26px;
  background-size: cover;
  transition: 0.5s;
}
.lang.on{
  width: 22px;
  height: 22px;
  background: url(../image/icon/eng_black.png);
  background-size: cover;
  transition: 0.5s;
}
.menu.on span:first-child{
  transform: rotate(45deg);
  top: 50%;
  background-color: #000;
  transition: 0.5s;
}
.menu.on span:nth-child(2){
  display: none;
  transition: 0.5s;
}
.menu.on span:last-child{
  transform: rotate(-45deg);
  top: 50%;
  background-color: #000;
  transition: 0.5s;
}
/* site_map */
.site_map.on{
    right: 0;
    display:block;
    opacity: 1;
  }
.site_map{
  width: 100%;
  height: 108vh;
  background: url(../image/imges/sitemap_bg.png)no-repeat;
  background-size: cover;
  position: absolute;
  right: -100%; top: 0;
  transition: 0.5s;
  opacity: 0;
  z-index: 99;
}
.sub_menu a b{position: relative;}
.sub_menu a b::after{
  content: "click!";
  font-size: 12px;
  color: #00abcd;
  position: absolute;
  top: -10px;
}
.map_navi{
  width: 90%;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
.map_navi ul{
  display: flex;
  justify-content: space-between;
}
.map_navi ul li{
  width: 200px;
}
.map_navi>ul>li>P{
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
}
.map_navi>ul>li>p::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #575757;
  position: absolute;
  bottom: -10px;left: 0;
}
.sub_menu a{
  display: block;
  padding: 15px 5px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 400;
}
.sub_menu a:hover{
  font-weight: bold;
}
/* main */
.main{
    background: url(../image/imges/news.jpg)no-repeat center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: auto;
}
.main p{
    font-size:60px;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    font-weight: 500;
}
.main span{
    font-size: 16px;
    color:#fff;
    text-align: center;
    font-weight:400;
    display: block;
}
.menu_bar{
  width: 100%;
  background-color: #2d5f74bc;
  height: 70px;
  margin-top:170px;
  position: relative;
}
.menu_bar a{
  display:inline-block;
  width: 70px;height: 70px;
  background-color: #fff;
  margin-left: 10%; 
}
.menu_bar>a>img{padding: 20px;}
.menu_bar select{
  width: 300px;
  height: 70px;
  border: none;
  background-color: #2d5f74bc;
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  padding: 0 20px;
}
.menu_bar #submenu{
margin-left:300px;
}
.menu_bar select option{
color: #fff;
}
/* contents */
.contents{
  margin:100px auto;
  padding: 100px 150px;
}
/* news_top */
.news_top{
  display: flex;
  justify-content: space-between;
  align-items: center;}
.news_top .news_search #news{border: none;width: 80px; margin: 0 10px;}
.news_top .news_search input[type="text"]{border:none;padding: 10px 0;}
.news_top .news_search input[type="text"] ::placeholder{color: #878787;}
.news_top .news_search a{display: inline-block;width: 15px;height: 15px;margin-top: 10px;margin-right: 20px;}
.news_top .news_search a img{width: 100%;}
.news_top .sr{float: right;margin: 10px;}
/* news_list */
.news_list table{width: 100%;border-top: 2px solid #575757;border-spacing: 0px;}
.news_list table caption{font-size: 0;}
.news_list table thead tr th{padding: 20px 0;}
.news_list tbody tr:nth-child(2n-1){background-color: rgb(250, 250, 250);}
.news_list tbody tr:first-child{background-color: rgb(255, 238, 240);font-weight: bold;}
.news_list tbody tr:first-child td.num{color:rgb(255, 86, 86);}
.news_list tbody tr td{border-top:1px solid #ececec;text-align: center;}
.news_list tbody tr{position: relative;transition: .3s;}
.news_list tbody tr:hover{font-weight: bold;}
.news_list tbody td:hover::before{display: block;}
.news_list tbody td::before{
  content: "";
  width: 2px; height: 100%;
  background-color: #00abcd;
  position: absolute; left: 0; top: 0;
  display: none;
  transition: .3s;
}
.news_list tbody tr td a{display: block;padding: 20px 0;margin-left: 20px;}
.news_list tbody tr td.news_subject{text-align: left;}
.news_list tbody tr td a img{}
/* pagenation */
.pagenation{
  width: 100%;
  margin: auto;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.pagenation img{
  width: 10px;
}
.pagenation a{
  display: inline-block;
  padding: 10px;
}
.pagenation a.on{
  font-weight: bold;
}
/* footer */
.f_top{
  width: 100%;
  height: 70px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
footer .inner{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: auto;
}
.f_top>.inner .menu a{position: relative;  margin-right: 10px;font-size: 14px;}
.f_top>.inner .menu a::after{
  content: "|";
  position: absolute;
  right: -8px; top: 0;
}
.f_top>.inner .menu a:last-child::after{
  content: "";
}
.select select{
  width: 130px;height: 30px;
  border: none;
  outline: none;
  margin-right: 10px;
}
.f_bottom>.inner{
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}
.company{display: flex;
align-items: center;}
.footer_logo a{width: 150px; height: 30px; margin-right: 20px;}
.address p{font-size: 16px;}