@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{margin: 0; padding: 0;box-sizing: border-box;}
body{font-family: 'Noto Sans KR', sans-serif;
  color: #575757;
}
ul,li{list-style: none;}
a{text-decoration: none;color: #575757;}
select,option{
  font-family: 'Noto Sans KR', sans-serif;
  color: #575757;
}
html{
  overflow-x:hidden;
}
.wrap{
  width: 100vw;
  margin: auto;
}
.hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}
/* header */
header{
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 50px;
  position: absolute;
}
header .logo{
  width: 125px;
}
header .logo a{
  display: block;
  width: 123px;height:26px;
  background: url(../image/icon/logo_white.png)no-repeat;
  background-size: cover;
}
.right_menu{
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right_menu .lang{
  width: 22px;
  height: 22px;
  background-image:url(../image/icon/eng.png);
  background-size: cover;
}
.right_menu .menu{
  position: relative;
  width: 30px;
  height: 15px;
}
.right_menu .menu span{
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.right_menu .menu span:first-child{
  top: 0;
}
.right_menu .menu span:last-child{
  top: 100%;
}
.logo.on a{
  background: url(../image/icon/logo.png);
  display: block;
  width: 126px;height:26px;
  background-size: cover;
  transition: 0.5s;
}
.lang.on{
  width: 22px;
  height: 22px;
  background: url(../image/icon/eng_black.png);
  background-size: cover;
  transition: 0.5s;
}
.menu.on span:first-child{
  transform: rotate(45deg);
  top: 50%;
  background-color: #000;
  transition: 0.5s;
}
.menu.on span:nth-child(2){
  display: none;
  transition: 0.5s;
}
.menu.on span:last-child{
  transform: rotate(-45deg);
  top: 50%;
  background-color: #000;
  transition: 0.5s;
}
/* site_map */
.site_map.on{
    right: 0;
    display:block;
    opacity: 1;
    position: sticky;
  }
.site_map{
  width: 100%;
  height: 100vh;
  background: url(../image/imges/sitemap_bg.png)no-repeat;
  background-size: cover;
  position: absolute;
  right: -100%; top: 0;
  transition: 0.5s;
  opacity: 0;
  z-index: 99;
}
.sub_menu a b{position: relative;}
.sub_menu a b::after{
  content: "click!";
  font-size: 12px;
  color: #00abcd;
  position: absolute;
  top: -10px;
}
.map_navi{
  width: 80%;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
.map_navi ul{
  display: flex;
  justify-content: space-between;
}
.map_navi ul li{
  width: 13%;
}
.map_navi>ul>li>p{
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
}
.map_navi>ul>li>p::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #575757;
  position: absolute;
  bottom: -10px;left: 0;
}
.sub_menu a{
  display: block;
  padding: 15px 5px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 400;
}
.sub_menu a:hover{
  font-weight: bold;
}
/* main */
.main{
    background: url(../image/imges/recruit_1.jpg)no-repeat center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: auto;
}
.main p{
    font-size:60px;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    font-weight: 500;
}
.main span{
    font-size: 16px;
    color:#fff;
    text-align: center;
    font-weight:400;
    display: block;
}
.menu_bar{
    width: 100%;
    background-color: #2d5f74bc;
    height: 70px;
    margin-top:170px;
    position: relative;
}
.menu_bar a{
    display:inline-block;
    width: 70px;height: 70px;
    background-color: #fff;
    margin-left: 10%; 
}
.menu_bar>a>img{padding: 20px;}
.menu_bar select{
    width: 300px;
    height: 70px;
    border: none;
    background-color: #2d5f74bc;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
}
.menu_bar #submenu{
  margin-left:300px;
}
.menu_bar select option{
  color: #fff;
}
.contents{width: 80%;margin: 200px auto;overflow: hidden;padding: 0px 150px;}
.contents h2{font-size: 50px;color: #00abcd;}
.contents h3{font-size: 20px;margin-bottom: 70px;font-weight: 400;}
.recruit_list{width: 100%;margin: 100px 0;}
.recruit_list .list_box{width: 100%;height: auto;background-color: #eee;border-radius: 5px;padding: 20px 30px;margin: 50px auto;display: flex;align-items: center;position: relative;}
.recruit_list .list_box::after{
  content: "\f078";
  font-family: FontAwesome;
  width: 20px; height: 20px;
  bottom: -35px; left: 50%;
  position: absolute;
  color: #575757;
}
.recruit_list .list_box:last-of-type::after{display: none;}
.recruit_list .list_box h4{width: 250px;font-size: 30px;margin-left: 50px;}
.recruit_list .list_box h5{width: 1000px;font-size: 16px;font-weight: 500;margin-left: 50px;}
.recruit_list .list_box:nth-of-type(6){background-color: #00abcd;color: #fff;}
/* footer */
.f_top{
  width: 100%;
  height: 70px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
footer .inner{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: auto;
}
.f_top>.inner .menu a{position: relative;  margin-right: 10px;font-size: 14px;}
.f_top>.inner .menu a::after{
  content: "|";
  position: absolute;
  right: -8px; top: 0;
}
.f_top>.inner .menu a:last-child::after{
  content: "";
}
.select select{
  width: 130px;height: 30px;
  border: none;
  outline: none;
  margin-right: 10px;
}
.f_bottom>.inner{
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}
.company{display: flex;
align-items: center;}
.footer_logo a{width: 150px; height: 30px; margin-right: 20px;}
.address p{font-size: 14px;}